<div class="main-waybill">
    <div class="waybill-bulk-buttons">
        <button>Bulk Upload</button>
        <button>BatchExport</button>
        <button>Download Template</button>
        <button>Addressing Guide</button>
        <button>Clear Up</button>
        <button>Delete</button>


        
        <select>
            <option>Sample Shop</option>
        </select>
        <h4>Sender: </h4>
    </div>

    <div class="result"></div>


    <div class="container">
        <div class="waybill-query-table">
            <table id="customers">
                <tr>
                  <th><input type="checkbox"></th>
                  <th>Order</th>
                  <th>Sender</th>
                  <th>Sender Cellphone</th>
                  <th>Sender Province</th>
                  <th>Sender City</th>
                  <th>Sender Barangay</th>
                  <th>Sender Address</th>
                </tr>
              </table>
        </div>
    </div>
</div>