<div class="main-waybill">
    <h3>Import/Export Data</h3>

    <div class="waybill-query-table2">
        <table id="customers2">
            <tr>
                <th>Order ID</th>
                <th>Waybill Number</th>
                <th>Date Ordered</th>
                <th>VIP Name</th>
                <th>VIP ID</th>
                <th>Shop Name</th>
                <th>Shop ID</th>
                <th>Shop Location</th>
                <th>Status</th>
                <th>Buyer Name</th>
                <th>Buyer Phone</th>
                <th>Area</th>
                <th>Municipality</th>
                <th>Barangay</th>
                <th>Address Line</th>
                <th>Full Address</th>
                <th>Product Description</th>
                <th>Parcel Type</th>
                <th>Product Fee</th>
                <th>Shipment Fee</th>
                <th>Insurance Fee</th>
                <th>COD Fee</th>
                <th>Total Fees</th>
                <th>Net Amount - VIP</th>
                <th>Payment Method</th>
                <th>Payment Status</th>
                <th>Date</th>
                <th>Captain's ID</th>
                <th>Captain's Name</th>
                <th>Captain's Mobile Number</th>
                <th>Route ID</th>

            </tr>
            <tr *ngFor="let item of dateList">
                <td>{{item.orderId}}</td>
                <td>{{item.waybillNumber}}</td>
                <td>{{item.dateOrdered}}</td>
                <td>{{item.vipName}}</td>
                <td>{{item.vipId}}</td>
                <td>{{item.shopName}}</td>
                <td>{{item.shopId}}</td>
                <td>{{item.shopLocation}}</td>
                <td>{{item.parcelStatus}}</td>
                <td>{{item.buyerName}}</td>
                <td>{{item.buyerPhone}}</td>
                <td>{{item.buyerProvince}}</td>
                <td>{{item.buyerMunicipality}}</td>
                <td>{{item.buyerBarangay}}</td>
                <td>{{item.buyerAddressLine}}</td>
                <td>{{item.buyerFullAddress}}</td>
                <td>{{item.productDescription}}</td>
                <td>{{item.parcelType}}</td>
                <td>{{item.productFee}}</td>
                <td>{{item.shipmentFee}}</td>
                <td>{{item.insuranceFee}}</td>
                <td>{{item.codFee}}</td>
                <td>{{item.totalFees}}</td>
                <td>{{item.netAmount}}</td>
                <td>{{item.paymentMethod}}</td>
                <td>{{item.paymentStatus}}</td>
                <td>{{item.dateCreated}}</td>
                <td>{{item.captainId}}</td>
                <td>{{item.captainName}}</td>
                <td>{{item.captainMobileNumber}}</td>
                <td>{{item.routeId}}</td>
            </tr>
        </table>
    </div>

    <div class="from-date">
        <mat-form-field>
            <mat-label>From:</mat-label>
            <input [(ngModel)]="fromDateInput" type="datetime-local" matInput>
        </mat-form-field>
    </div>

    <div class="from-date">
        <mat-form-field>
            <mat-label>To:</mat-label>
            <input (change)="enableDownload()" [(ngModel)]="toDateInput" type="datetime-local" matInput>
        </mat-form-field>
        
    </div>

    <div class="from-date">
        <input (change)="onUpload($event)" type="file" multiple="false">
    </div>

    <div class="download-container">
        <button [disabled]="isInputNotComplete" (click)="downloadSheet()" mat-button>Search</button>
        <button [disabled]="noFileImported" mat-button (click)="importData()">Import Data</button>
        <button (click)="exportExcel()" mat-button>Download</button>
        
    </div>

</div>