<div class="finance-main">
    <div class="finance-main-head">
        <h2>Accounts Payables</h2>
    </div>

    <div class="account-payables-left">
        <div class="finance-container-account">
            <div class="finance-container-text-account">
                <h3>Data Viewer</h3>
            </div>
    
            <div class="finance-container-form-account">
                <label>From</label>
    
                <div class="finance-form-input-account">
                    <input type="date">
                </div>
            </div>
    
            <div class="finance-container-form-account">
                <label>To</label>
                <div class="finance-form-input-account">
                    <input type="date">
                </div>
            </div>
        </div>

        <div class="finance-table">
            <table id="customerss">
                <tr>
                    <th><select>
                        <option value="">Order ID</option>
                    </select></th>
                    <th>
                        <select>
                            <option value="">Status</option>
                        </select>
                    </th>
                    <th>
                        <select>
                            <option>Pouch/Box Size</option>
                        </select>
                    </th>
                </tr>
                <tr>
                    <td>Sample Data</td>
                    <td>Sample Data</td>
                    <td>Sample Data</td>
                </tr>
                <tr>
                    <td>Sample Data</td>
                    <td>Sample Data</td>
                    <td>Sample Data</td>
                </tr>
                <tr>
                    <td>Sample Data</td>
                    <td>Sample Data</td>
                    <td>Sample Data</td>
                </tr>
                <tr>
                    <td>Sample Data</td>
                    <td>Sample Data</td>
                    <td>Sample Data</td>
                </tr>
                <tr>
                    <td>Sample Data</td>
                    <td>Sample Data</td>
                    <td>Sample Data</td>
                </tr>
                <tr>
                    <td>Sample Data</td>
                    <td>Sample Data</td>
                    <td>Sample Data</td>
                </tr>
                <tr>
                    <td>Sample Data</td>
                    <td>Sample Data</td>
                    <td>Sample Data</td>
                </tr>
                <tr>
                    <td>Sample Data</td>
                    <td>Sample Data</td>
                    <td>Sample Data</td>
                </tr>
            </table>
        </div>
    </div>

    <div class="account-payables-right">
        <div class="finance-account-card">
            <h4>Total Shipment Fee</h4>
            <h1>0,000</h1>
        </div>

        <div class="finance-account-card">
            <h4>Total COD Fee</h4>
            <h1>0,000</h1>
        </div>

        <div class="finance-account-card">
            <h4>Total Insurance Fee</h4>
            <h1>0,000</h1>
        </div>
    </div>
</div>