<!-- Customer Information Card -->
<div class="customer-information">

    <div class="customer-information-top">
        <div class="dasboard-bulk-orders-header">
            <h4><i class="las la-user-plus"></i> Customer Information</h4>
        </div>
        <div class="form-field-holder">
    
            <div class="form-field">
                <label for="">Customer Name</label>
                <input [disabled]="noShopChosen" [(ngModel)]="customerNameForm"  #customerNameInput type="text" placeholder="Cutomer Name">
            </div>
    
            <div class="form-field">
                <label for="">Mobile Number</label>
                <input [disabled]="noShopChosen"  [(ngModel)]="mobileNumberForm" #mobileNumberInput type="text" placeholder="Mobile Number">
            </div>

            <div class="form-field">
                <label for="">Region</label>
                <select [disabled]="noShopChosen"  [(ngModel)]="regionForm" #regionInput (change)="onChange($event)">
                    <option selected disabled>Please Select a Region</option>
                    <option *ngFor="let regionNew of regionsNew | keyvalue">{{regionNew.value}}</option>
                </select>
            </div>

            <div class="form-field">
                <label for="">Barangay</label>
                <input [disabled]="noShopChosen"  [(ngModel)]="barangayForm" #barangayInput type="text" placeholder="Barangay">
            </div>

            <div class="form-field">
                <label for="">Province</label>
                <select [disabled]="noShopChosen"  [(ngModel)]="provinceForm" #provinceInput (change)="onChangeProvince($event)">
                    <option selected disabled>Please Select a Province</option>
                    <option *ngFor="let provinceNew of provincesNew.get(selectedRegion)" [value]="provinceNew">{{provinceNew}}</option>
                </select>
            </div>

            <div class="form-field">
                <label for="">Address Line</label>
                <input [disabled]="noShopChosen"  [(ngModel)]="addressLineForm" #addressLineInput type="text" placeholder="Address Line">
            </div>

            <div class="form-field">
                <label for="">Municipality</label>
                <select [disabled]="noShopChosen"  [(ngModel)]="municipalityForm" #municipalityInput>
                    <option selected disabled>Please Select a Municipality</option>
                    <option *ngFor="let municipalityNew of municipalitiesNew.get(selectedProvince)" >{{municipalityNew}}</option>
                </select>
            </div>
    
            <div class="button-container">
                    
                <button mat-button [disabled]="newOrderCreated" (click)="createNewOrder()">New Order</button>
            </div>

            <div class="button-container">
                <button mat-button (click)="insertParcel(customerNameInput.value,mobileNumberInput.value,regionInput.value,provinceInput.value,municipalityInput.value,addressLineInput.value,barangayInput.value, productDescriptionInput.value,itemValueInt.value,codFeeInput.value,weightInput.value,insuranceFeeInput.value,shipmentFeeInput.value,remarksInput.value,sizeInput.value, paymentMethod.value, weightInt.value,lengthInput.value, widthInput.value, heightInput.value)">Save and Add New</button>
            </div>

        </div>
    </div>

    <div class="customer-information-bottom" [class.customer-information-bottom2]="choice === 'Volumetric'">
        <div class="dasboard-bulk-orders-header">
            <h4><i class="las la-inbox"></i> Order Information</h4>
        </div>

        <div class="order-information-container">
            <div class="form-field-long">
                <Label>Product Description</Label>
                <input [disabled]="noShopChosen"  [(ngModel)]="productDescriptionForm" #productDescriptionInput placeholder="Product Description">
            </div>
    
            <div class="form-field-medium">
                <label for="">Item Value</label>
                <input [disabled]="noShopChosen"  [(ngModel)]="itemValueForm" #itemValueInt type="number" placeholder="0">
            </div>
            
    
            <div hidden>
                <div class="customer-information-bottom-label">
                    <label>Weight in Grams</label>
                </div>
    
                <div class="customer-information-bottom-input-small">
                    <input hidden #weightInput placeholder="Remarks">
                    <input disabled #weightInt type="number" placeholder="0">
                </div>
            </div>
    
            <div class="form-field-small2">
                <label for="">Shipment Type</label>
                <select [disabled]="noShopChosen"  (change)="onShipmentTypeChange()" [(ngModel)]="choice" #sizeInput>
                    <option value="" disabled selected>Shipment Type</option>
                    <option value="Volumetric">Volumetric</option>
                    <option>Small</option>
                    <option>Medium</option>
                    <option>Large</option>
                </select>
            </div>

            <div class="form-field-small2">
                <label for="">Payment Method</label>
                <select [(ngModel)]="paymentMethodForm" [disabled]="isVolumetric" (change)="calculateFees($event)" #paymentMethod>
                    <option value="" disabled selected>Payment Method</option>
                    <option>COD</option>
                    <option>Non-COD</option>
                </select>
            </div>
    
            <div [hidden]="choice !== 'Volumetric'">
                <div class="form-field-small">
                    <label for="">Length</label>
                    <input  [(ngModel)]="lengthForm" #lengthInput placeholder="0">
                </div>
        
                <div class="form-field-small">
                    <label for="">Width</label>
                    <input [(ngModel)]="widthForm" #widthInput placeholder="0">
                </div>
        
                <div class="form-field-small">
                    <label for="">Height</label>
                    <input (input)="enablePaymentMethod()" [(ngModel)]="heightForm" #heightInput placeholder="0">
                </div>
            </div>
    
            <div class="form-field-small">
                <label for="">Insurance Fee</label>
                <input [(ngModel)]="insuranceFeeForm" disabled [value]="insuranceFeeValue" #insuranceFeeInput placeholder="0">
            </div>
    
            <div class="form-field-small">
                <label for="">Shipment Fee</label>
                <input [(ngModel)]="shipmentFeeForm" disabled [value]="shipmentFeeValue" #shipmentFeeInput placeholder="0">
            </div>
    
            <div class="form-field-small">
                <label for="">COD Fee</label>
                <input [(ngModel)]="codFeeForm" disabled [value]="codFeeValue" #codFeeInput placeholder="0">
            </div>
    
            <div class="form-field-long">
                <Label>Remarks</Label>
                <input [disabled]="noShopChosen"  [(ngModel)]="remarksForm" #remarksInput placeholder="Sample">
            </div>
        </div>

        <div>
            <!--Total Sales Card-->
            <div class="customer-card">
                <h5>Total Sales</h5>
                <h1>{{itemValueNumber}}</h1>
            </div>

            <!--Total Cod Fee Card-->
            <div class="customer-card">
                <h5>Total COD Fee</h5>
                <h1>{{codFeeRoundOff}}</h1>
            </div>

            <!--Total Insurance Fee Card-->
            <div class="customer-card">
                <h5>Total Insurance Fee</h5>
                <h1>{{insuranceFeeRoundOff}}</h1>
            </div>

            <!--Create Waybill Bulk Button-->
            <!--Takes the value of every enabled form and passes it to the addParcel() Function-->
            
        </div>

    </div>
</div>


<!--Parcel In this Bulk Order-->
<div class="customer-information-table">
    <!--Parcel In this Bulk Order Header-->
    <div class="dasboard-bulk-orders-header">
        <h4><i class="las la-inbox"></i> Parcel in this Bulk Order</h4>
    </div>

    <div class="containers">
        <div class="waybill-query-table-create">

            <table id="customerss">
                
                <tr>
                    <th>Order ID</th>
                    <th>Status</th>
                </tr>

                <tr *ngFor="let item of orders$ | async">
                    <td [class.selectedOrder]="item === selectedOrder" (click)="getParcels(item)">{{item.orderId}}</td>
                    <td [class.selectedOrder]="item === selectedOrder">{{item.status}}</td>
                </tr>

                
            </table>

            <table id="customerss">
                <tr>            
                    <th>
                        <p>Waybill Number</p>
                    </th>
                    <th>
                        <p>Weight</p>
                    </th>
                </tr>
                
                <!--Table Body-->
                <!--The parcels array from orders.component.ts sets its values to the values from the waybill.service.ts's parcel array-->

                <tr *ngFor="let item of newParcelObs">

                    <!--Displays the awb values from the parcels array-->
                    <td>
                       {{item.orderInformation.awb}}
                    </td>
                    <!--Displays the weight values from the parcels array-->
                    <td>
                        {{item.orderInformation.weight}}
                    </td>
                </tr>
                
            </table>
                        
        </div>

        <div class="card-table-margin">
            <!--Total Parcels Card-->
            <div class="customer-card-table">
                <h5>Total Parcels</h5>
                <h1>{{parcelsNumber}}</h1>
            </div>
    
            <!--Total Weight Card-->
            <div class="customer-card-table">
                <h5>Total Kilograms</h5>
                <h1>{{weightNumber}}</h1>
            </div>
        </div>

        
    </div>
</div>

