<div class="express-tracking">
    <div class="express-tracking-left">
        <textarea placeholder="Please Enter The Waybill Number, The Multiple Number Is Separated By A Comma Or Carriage Return, And Up To 10 Waybill Numbers Can Be Entered In A Single Order."></textarea>
        <button>Search</button>
        <button>Reset</button>

        <div class="history">
            <div class="history-header">List of historical order Numbers</div>
        </div>
    </div>

    <div class="express-tracking-right">
        <div class="empty">
            <span class="las la-box-open"> </span>
            <p>Temporarily No Data Available</p>
        </div>
    </div>
</div>