<h2 mat-dialog-title>Change Password</h2>

<mat-dialog-content>
    <div class="change-pass-form">
        

        <mat-form-field [style.width.px]=240>
            <mat-label>Email:</mat-label>
            <input #emailInput type="text" matInput>
        </mat-form-field>
    </div>

    <div class="change-pass-form">
        <mat-form-field [style.width.px]=240>
            <mat-label>Current Password:</mat-label>
            <input #oldPasswordInput type="password" matInput>
        </mat-form-field>
        
    </div>

    <div class="change-pass-form">
        <mat-form-field [style.width.px]=240>
            <mat-label>New Password:</mat-label>
            <input #newPasswordInput type="password" matInput>
        </mat-form-field>
    </div>

    

</mat-dialog-content>

<mat-dialog-actions>
    <div class="menu-buttons">
        <button mat-button mat-dialog-close>Cancel</button>
        <button mat-button mat-dialog-close (click)="submitPassword(emailInput.value, oldPasswordInput.value, newPasswordInput.value)">Submit</button>

    </div>
</mat-dialog-actions>

