<h2 mat-dialog-title>Change Password</h2>

<mat-dialog-content>
    <div>
        <label for="">Email:</label>
        <input #emailInput type="text">
    </div>

    <div>
        <label for="">Current Password</label>
        <input #oldPasswordInput type="text">
    </div>

    <div>
        <label for="">New Password</label>
        <input #newPasswordInput type="text">
    </div>

    <div class="menu-buttons">
        <button mat-button (click)="submitPassword(emailInput.value, oldPasswordInput.value, newPasswordInput.value)">Submit</button>
    </div>

</mat-dialog-content>

