<div class="ticket-customer-body">
    <div class="ticket-customer-input">
        <input type="name" placeholder="Customer Name">
    </div>

    <div class="ticket-customer-input2">
        <input type="name" placeholder="Mobile Number">
    </div>

    <div class="ticket-customer-input">
        <input type="name" placeholder="Address Line">
    </div>

    <div class="ticket-customer-input3">
        <input type="name" placeholder="Floor">
    </div>

    <div class="ticket-customer-input3">
        <input type="name" placeholder="Room">
    </div>
</div>