<div class="main-waybill">
    <div class="query-table">
        <div class="query-conditions">
            <h5>QueryConditions</h5>
        </div>

        <div class="query-status">
            <div class="query-button">
                <p>All (0)</p>
            </div>

            <div class="query-button">
                <p>In Transit (0)</p>
            </div>

            <div class="query-button">
                <p>For Return (0)</p>
            </div>

            <div class="query-button">
                <p>Delivering (0)</p>
            </div>

            <div class="query-button">
                <p>Delivered (0)</p>
            </div>

            <div class="query-button">
                <p>Returned (0)</p>
            </div>
        </div>

        <div class="query-input">
            <div class="query-input-label">
                 <label> Waybill Number</label>
                 <input type="text" placeholder="Please Input Waybill Number"> 
            </div>
        </div>

        <div class="query-input">
            <div class="query-input-label">
                 <label> Order Date</label>
                 <input type="date" placeholder="Please Input Waybill Number"> 
            </div>
        </div>

        <div class="query-input">
            <div class="query-input-label">
                 <label> Order Status</label>
                 <select>
                     <option>All</option>
                     <option>In Transit</option>
                     <option>For Return</option>
                     <option>Delivering</option>
                     <option>Delivered</option>
                     <option>Returned</option>
                 </select>
            </div>
        </div>

        <div class="waybill-buttons">
            <button class="wb">Search</button>
            <button class="wb">Reset</button>
            <button class="wb">Export</button>

            <button class="custom-column">Custom Column</button>
        </div>

        <div class="waybill-query-table">
            <table id="customers">
                <tr>
                  <th><input type="checkbox"></th>
                  <th>Serial Number</th>
                  <th>Creator Code</th>
                  <th>Status</th>
                  <th>Waybill Number</th>
                  <th>Signing Time</th>
                  <th>Receiver</th>
                  <th>Receiver Cellphone</th>
                  <th>Province</th>
                  <th>City</th>
                  <th>Barangay</th>
                  <th>Address</th>
                  <th>Payment Method</th>
                  <th>Settlement Weight</th>
                  <th>Receivable Freigh</th>
                  <th>Total Shipping Cost</th>
                  <th>COD</th>
                  <th>Pouches Size</th>
                  <th>Submission Time</th>
                  <th>RTS Reason</th>
                  <th>Remarks</th>
                </tr>
              </table>
        </div>
        
    </div>
</div>