<table id="customerss">
    <tr>
        <th>
            <select>
                <option value="">Date</option>
            </select>
        </th>

        <th>
            <select>
                <option value="">Notes</option>
            </select>
        </th>

    </tr>
    <tr>
        <td>Sample Data</td>
        <td>Sample Data</td>
    </tr>
    <tr>
        <td>Sample Data</td>
        <td>Sample Data</td>
    </tr>
    <tr>
        <td>Sample Data</td>
        <td>Sample Data</td>
    </tr>
    <tr>
        <td>Sample Data</td>
        <td>Sample Data</td>
    </tr>
    


</table>