<div class="ticket-customer-body">

    <div class="ticket-customer-input2">
        <select>
            <option>Location Area</option>
        </select>
    </div>

    <div class="ticket-customer-input">
        <input type="name" placeholder="Product Description">
    </div>

    <div class="ticket-customer-input">
        <input type="name" placeholder="Item Value">
    </div>

    <div class="ticket-customer-input2">
        <select>
            <option>Pouch/Box Size</option>
        </select>
    </div>

    <div class="ticket-customer-input4">
        <input placeholder="Weight in KG">
    </div>

    <div class="ticket-customer-input4">
        <input placeholder="COD Fee">
    </div>

    <div class="ticket-customer-input4">
        <input placeholder="Shipment Fee">
    </div>

    <div class="ticket-customer-input2">
        <input placeholder="Remarks">
    </div>

    <input type="checkbox">
    <label> Add Insurance(1% of declared value)</label>

</div>