<div class="try">


    <div class="cards">

        <div class="card-single">
            <div class="b">
                <h5>Parcel</h5>
                <h1>0,000</h1>
            </div>
            <div>
                <span class="las la-users"></span>
            </div>
        </div>

        <div class="card-single">
            <div class="card-single-text">
                <h5>RTS</h5>
                <h1>0,000</h1>
            </div>
            <div>
                <span class="las la-clipboard-list"></span>
            </div>
        </div>

        <div class="card-single">
            <div>
                <h5>Total Sales</h5>
                <h1>0,000</h1>
            </div>
            <div>
                <span class="las la-shopping-bag"></span>
            </div>
        </div>

        <div class="card-single">
            <div>
                <h5>Total COD Fee</h5>
                <h1>0,000</h1>
            </div>
            <div>
                <span class="las la-wallet"></span>

            </div>
        </div>

        <div class="card-single">
            <div class="a">
                <h5>Shipment Fee</h5>
                <h1>0,000</h1>
            </div>
            <div>
                <span class="las la-wallet"></span>
            </div>
        </div>



    </div>

    <div class="dashboard-data-viewer">
        <div class="dashboard-left-side">
            <h3>Data Viewer</h3>

            <label>From:</label>
            <input type="text" placeholder="Placeholder">
            <label>To:</label>
            <input type="text" placeholder="Placeholder">
        </div>


        <div class="dashboard-right-side">
            <h3><label>Bulk Orders:</label></h3>
            <input type="text" placeholder="Bulk Order ID">
        </div>
    </div>


    <div class="dash-left">
        <div class="dasboard-bulk-orders-header">
            <div class="top-left">
                <h3>Bulk Orders</h3>
            </div>

            <div class="top-right">
                <input type="text" placeholder="Bulk Order ID">
            </div>
        </div>

        <div class="dashboard-bulk-orders-body">
            <div class="left">
                <label>Pick Up</label>
                <label>Collection Point</label>
                <label>Inter-City Travel</label>
                <label>Sorting Facility</label>
                <label>Delivered</label>
                <label>Problematic</label>
            </div>

            <div class="right">
                <div class="right-bulk">
                    <input type="text" placeholder="90">
                    /
                    <input type="text" placeholder="90">
                </div>
                <div class="right-bulk">
                    <input type="text" placeholder="90">
                    /
                    <input type="text" placeholder="90">
                </div>
                <div class="right-bulk">
                    <input type="text" placeholder="90">
                    /
                    <input type="text" placeholder="90">
                </div>
                <div class="right-bulk">
                    <input type="text" placeholder="90">
                    /
                    <input type="text" placeholder="90">
                </div>
                <div class="right-bulk">
                    <input type="text" placeholder="90">
                    /
                    <input type="text" placeholder="90">
                </div>
                <div class="right-bulk">
                    <input type="text" placeholder="90">
                    /
                    <input type="text" placeholder="90">
                </div>
            </div>
        </div>
    </div>

    <div class="dash-right">
        <div class="dasboard-bulk-orders-header">
            <div class="top-left">
                <h3>Shipping Fee Inquiry</h3>
            </div>
        </div>

        <div class="dash-right-body">
            <div class="dash-right-forms">
                <div class="dash-right-forms-label">
                    <label>Shipping from</label>
                </div>

                <div class="dash-right-forms-input">
                    <input placeholder="Sample">
                </div>
            </div>

            <div class="dash-right-forms">
                <div class="dash-right-forms-label">
                    <label>Shipping to</label>
                </div>

                <div class="dash-right-forms-input">
                    <input placeholder="Sample">
                </div>
            </div>

            <div class="dash-right-forms">
                <div class="dash-right-forms-label">
                    <label>Goods Type</label>
                </div>

                <div class="dash-right-forms-input">
                    <input placeholder="Sample">
                </div>
            </div>

            <div class="dash-right-forms">
                <div class="dash-right-forms-label">
                    <label>Weight (KG)</label>
                </div>

                <div class="dash-right-forms-input">
                    <input placeholder="Sample">
                </div>
            </div>

            <div class="dash-right-forms-dimension">
                <div class="dash-right-dimension-label">
                    <label>Dimension (CM)</label>
                </div>

                <div class="dash-right-dimension-input">
                    <input placeholder="L">
                </div>

                <div class="dash-right-dimension-input">
                    <input placeholder="H">
                </div>

                <div class="dash-right-dimension-input">
                    <input placeholder="W">
                </div>
            </div>

            <div class="dash-right-forms-button">
                <button>Calculate</button>
            </div>

            <div class="dash-right-result">
               <div class="dash-right-result-label">
                  <label for="">Shipping Fee</label>
               </div>

               <div class="dash-right-result-input">
                   <input placeholder="Sample">
               </div>
            </div>
        </div>

        
    </div>


    

</div>