<div class="user-div">
    <div class="query-table-user">
        <div class="query-conditions">
            <h5>QueryConditions</h5>
        </div>

        <div class="query-input">
            <div class="query-input-label">
                 <label> Name</label>
                 <input type="text" placeholder="Please Type Your Name"> 
            </div>
        </div>

        <div class="query-input">
            <div class="query-input-label">
                 <label> Phone</label>
                 <input type="text" placeholder="Please Input Your Phone Number"> 
            </div>
        </div>

        <div class="query-input">
            <div class="query-input-label">
                 <label>  Status</label>
                 <select>
                     <option>Enabled</option>
                     <option>Disabled</option>
                 </select>
            </div>
        </div>


        <div class="waybill-buttons">
            <button class="wb">Search</button>
            <button class="wb">Reset</button>
            <button class="wb">New</button>
        </div>

        <div class="waybill-query-table-user">
            <table id="customers">
                <tr>
                  <th>Serial Number</th>
                  <th>Login Account</th>
                  <th>Name</th>
                  <th>Phone</th>
                  <th>Enable Status</th>
                  <th>Operating</th>
                </tr>
                

                
            </table>
        </div>
    </div>
    
</div>