<div class="customer-information-top2">
    <div class="dasboard-bulk-orders-header">
        <h4><i class="las la-user-plus"></i> Shop Lists</h4>
    </div>

    <div class="waybill-buttons2">
        <button mat-button (click)="openShopDialog()" class="wb">New Shop</button>

    </div>

    <div class="shop-table-container">
        <div class="waybill-query-table-user">
            <table id="customers">
                <tr>
                  <th>Shop Name</th>
                  <th>Shop ID</th>
                  <th>Shop Contact Number</th>
                  <th>Shop Region</th>
                  <th>Shop Province</th>
                  <th>Shop Municipality</th>
                </tr>
                
                <tr *ngFor="let shop of shops$">
                    <td>{{shop.shopName}}</td>
                    <td>{{shop.shopId}}</td>
                    <td>{{shop.shopContactNumber}}</td>
                    <td>{{shop.shopAddress.shopRegion}}</td>
                    <td>{{shop.shopAddress.shopProvince}}</td>
                    <td>{{shop.shopAddress.shopMunicipality}}</td>

                </tr>
    
                
            </table>
        </div>
    </div>
</div>
