<div class="main-waybill">
    <div>
        <div class="waybill-left">
            <h3>Parcels</h3>
            <div class="table-container">
                <table id="customers">
                    <tr>
                        <th>Waybill Number</th>
                        <th>Date Created</th>
                    </tr>
                    
                    <tr (click)="getParcel(parcel)" *ngFor="let parcel of parcelObs$">
                        <td>{{parcel.orderInformation.awb}}</td>
                        <td>{{parcel.orderInformation.dateCreated}}</td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="waybill-right">
            <h1>asdsad</h1>
        </div>
    </div>
    <button (click)="showVip()">Show</button>
    <div class="container">
        <div class="waybill-query-table">
            <table id="customers">
                <tr>
                    <th>Date Created</th>
                    <th>OrdersID</th>
                    <th>Item Value</th>
                    <th>COD Fee</th>
                    <th>Insurance Fee</th>
                    <th>Weight</th>
                    <th>Shipment Fee</th>

                </tr>

                <tr (click)="details(item)" *ngFor="let item of orders$ | async">
                    <td>{{item.dateCreated}}</td>
                    <td>{{item.orderId}}</td>
                    <td>{{item.itemValue}}</td>
                    <td>{{item.codFee}}</td>
                    <td>{{item.insuranceFee}}</td>
                    <td>{{item.weight}}</td>
                    <td>{{item.shipmentFee}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>