<div class="main-waybill">
    <div class="shipping-fee-container">
        <label>Sender Address</label>

        <select>
            <option>Sample Address</option>
            <option>Sample Address</option>
            <option>Sample Address</option>
            <option>Sample Address</option>
            <option>Sample Address</option>
        </select>

        <label class="labels">Receiver Address</label>
        
        <select>
            <option>Sample Address</option>
            <option>Sample Address</option>
            <option>Sample Address</option>
            <option>Sample Address</option>
            <option>Sample Address</option>
        </select>

        <label>Item Weight</label>

        <div class="shipping-fee-button">
            <button>+</button>
            <input type="text" placeholder="0">
            <button>-</button>
        </div>

        <label>Express Type</label>
        <br>

        <select>
            <option>EZ</option>
            <option>BP</option>
        </select>

        <button class="shipping-fee-submit">Search</button>
    </div>
</div>

<div class="shipping-fee-result">
    <label>Express Type</label>
    <label>EZ</label>
    <br>
    <label>Cost</label>
</div>